.hoverable-label {

    -fx-padding: 5px; /* Add some padding for better clickability */
}

.hoverable-label:hover {
    -fx-background-color: #d1e0e0; /* Change this to your desired highlight color */
    -fx-text-fill: #000000; /* Change text color on hover if needed */
}

.combo-box {
    -fx-font-family: "Tw Cen MT"; /* Font family */
    -fx-font-size: 16px;          /* Font size */
    -fx-text-fill: white;         /* Text color for the selected item */
    -fx-background-color: #8589f1; /* Background color of the ComboBox */
}

/* Change the prompt text color */
.combo-box .prompt-text {
    -fx-text-fill: white;         /* Prompt text color */
}

/* Style for the list items */
.combo-box .list-view .list-cell {
    -fx-text-fill: black;         /* Color for list items in the dropdown */
}

/* Change the color of selected items in the dropdown */
.combo-box .list-view .list-cell:selected {
    -fx-text-fill: white;         /* Color for selected item in dropdown */
    -fx-background-color: #5656B5; /* Background color when an item is selected */
}

/* Change the color of items on hover */
.combo-box .list-view .list-cell:hover {
    -fx-background-color: #8589f1; /* Background color on hover */
    -fx-text-fill: white;         /* Text color on hover */
}
